body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  .load {
    margin: 45px;
    button {
      width: 140px;
      height: 50px;
      border-radius: 5px;
      margin: 10px;
    }
  }
}
.control {
  text-align: left;
}
.night {
  background-color: #21263a !important;
  span {
    color: white;
  }
}

#nightMode {
  background-color: red;
}

#mainImg, #helper {
  transform: scale(1, -1);
}

#main {
  margin: 0;
  padding: 0;
  text-align: center;
}
#helper {
  margin-top: 50px;
  margin-bottom: 50px;
}

span {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

canvas {
  margin-top: 25px;
}

button {
  border-radius: 22px;
  color: white;
  margin-top: 20px;
  margin-right: 10px;
}


.load {
  button {
    border-radius: 22px !important;
    color: white;
    font-weight: bold;
  }
}
