body {
  display: flex;
  flex-direction: column;
  align-items: center;
  .night {
    background-color: #21263a;
  }
}

#mainImg, #helper {
  transform: scale(1, -1);
}

#helper {
  margin-top: 50px;
  margin-bottom: 50px;
}

canvas #mainImg{
  padding: 100px;
  border: 2px solid cadetblue;
}

button {
  border-radius: 32px;
}