body {
  display: flex;
  flex-direction: column;
  align-items: center;
  .load {
    margin: 45px;
    button {
      width: 140px;
      height: 50px;
      border-radius: 5px;
      margin: 10px;
    }
  }
}
.night {
  background-color: #21263a !important;
  span {
    color: white;
  }
}

#nightMode {
  background-color: red;
}

#mainImg, #helper {
  transform: scale(1, -1);
}

#helper {
  margin-top: 50px;
  margin-bottom: 50px;
}

span {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

canvas #mainImg{
  padding: 100px;
  border: 2px solid cadetblue;
}

#controls {
  button {
    border-radius: 22px;
    margin: 0 20px;
  }
  margin-top: 50px;
}
